[Unit]
Description=SQL Console (Flask)
After=network.target

[Service]
EnvironmentFile=/opt/system-monitor/.env
WorkingDirectory=/opt/system-monitor
ExecStart=/opt/system-monitor/venv/bin/python /opt/system-monitor/sql_console.py
Restart=always

[Install]
WantedBy=multi-user.target
